
body {
    /* width: 50%;
    margin: auto; */
    font-family: 'Raleway', sans-serif;
    background: url("../images/buffy.jpg");
    background-size: cover;
}

.game-title-container {
    position: fixed;
    bottom: 10%;
    margin-left: 5%;
    color: #e8dada;
}

.game-title {
    font-size: 6rem;
    font-family: 'Merriweather', serif;
}

.game-board {
    width: 50%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    color: #e8dada;
}

.game-tiles {
    padding: 20px;
    margin: 10px;
}

#wordInPlay, #hintInPlay, #winCount, #guessCount {
    font-size: 2.5rem;
    padding: 20px;
    font-family: 'Merriweather', serif;
}

#startButton {
    position: fixed;
    top: 20%;
    left: 2%;
    padding: 5px;
    background: #e8dada;
}

#homeButton {
    position: fixed;
    top: 2%;
    left: 2%;
}

#scores {
    position: fixed;
    top: 10%;
    left: 2%;
    color: #e8dada;
}

ul li {
    display: inline;
    font-size: 1.2rem;
    padding: 5px;
    margin: 5px;
}

a:link {
    color: #e8dada;
    text-decoration: none;
}

a:visited {
    color: #e8dada;
}

a:hover {
    text-decoration: underline;
}